{% extends 'main.html' %}
{% block content %}
    <div class="header-bar">
        <h1>Edit Account</h1>
        <a href="{% url 'list' %}">Back</a>
    </div>

    <div class="button">
        <form action="" method="POST">
            {% if user.is_authenticated %}

                {{ form }}
{#               <label>{{ form.username.label }}</label>#}
{#            {{ form.username }}#}
{##}
{#            <label>{{ form.email.label }}</label>#}
{#            {{ form.email }}#}
{##}
{##}
{#            <label>{{ form.first_name.label }}</label>#}
{#            {{ form.first_name }}#}
{##}
{#            <label>{{ form.last_name.label }}</label>#}
{#            {{ form.last_name }}#}
                <input style="margin-top: 10px;" class="button" type="submit" value="Cansel">
                <input style="margin-top: 10px" class="button" type="submit" value="Save">
            {% else %}
                <p>You have to Login</p>
            {% endif %}
            {% csrf_token %}
        </form>

    </div>


{% endblock %}