{% extends 'main.html' %}
{% block content %}
    <div class="header-bar">
        <h1>Registration Form</h1>
    </div>
    <div class="card-body">
        <form method="POST">
            <label>{{ form.username.label }}</label>
            {{ form.username }}

            <label>{{ form.email.label }}</label>
            {{ form.email }}

            <label>{{ form.password1.label }}</label>
            {{ form.password1 }}

            <label>{{ form.password2.label }}</label>
            {{ form.password2 }}
            <input style="margin-top: 10px;"  class="button" type="submit" value="Register">
            <input style="margin-top: 10px" class="button" type="submit" value="Cansel">

            {% csrf_token %}
        </form>
        <p>Already have an account. <a href="{% url 'sign-in' %}">Login</a></p>
    </div>

{% endblock %}